th {
    font-weight: bold !important;
}
.importantText {
    font-weight: bold;
    text-decoration: underline;
}
.tableCursor {
    cursor: default !important;
}
.unitSubunitBtn {
    float: right !important;
}
.subunitTag {
    display: block !important;
}
.ust_selectedUnit {
    color: #6F42C1 !important;
}
.ant-menu {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background: #f6f5ff;
}
.budgetLabel {
    width: 33.3% !important;
    text-align: right !important;
    padding-right: 8px !important;
}
.firstBudgetRow {
    width: 33.3% !important;
    margin-bottom: 0 !important;
}
.redMark {
    color: red;
    font-size: 70%;
}
.restBudgetRow {
    display: flex;
    width: 33.3% !important;
    margin: 0 auto;
}
.budgetSelect {
    width: 250px !important;
}
.budgetAmount {
   width: 150px !important;
}
.addBudgetBtn {
    margin-left: 33.3% !important;
}
.uwPolicy {
    padding-right: 15px !important;
    margin-top: 7px !important;
}
.divider {
    margin-top: 3px !important;
    margin-bottom: 10px !important;
    color: #6F42C1 !important;
    border-color: #6F42C1 !important;
}
.crossSign {
    float: right !important;
    font-size: 20px !important;
    color: #fa6986 !important;
}
.itemBlock {
    display: block;
}
.firstLineItem {
    margin-left: 7px !important;
}
.addCatBtn {
    width: 350px !important;
    color: #6F42C1 !important;
    border-color: #6F42C1 !important;
}
.addBudgetStyle {
    color: #6F42C1 !important;
    border-color: #6F42C1 !important;
}
.billingDivider {
    font-size: 14px !important;
    color: #a3a3a3 !important;
    margin-top: -16px !important;
}
.serviceDivider {
    font-size: 14px !important;
    color: #a3a3a3 !important;
    margin-top: -5px !important;
}
.topRow {
    margin-left: 33.3% !important;
    margin-bottom: 0 !important;
}
.budgetTop {
    width: 131px !important;
}
.minusSign {
    color: #fa6986 !important;
    font-size: 20px !important;
    margin-left: 10px !important;
}
.categoryNote {
    margin-left: 33.3% !important;
}
.categorySelect {
    width: 416px !important;
}
.categoryHeader {
    font-size: 88% !important;
    color: #a3a3a3 !important;
}
.firstLine {
    margin-top: -12px !important;
}
.lastLine {
    margin-bottom: 12px !important;
}
.claimMealRadio {
    width: 300px !important;
}
.checkBox {
    margin-left: 33.3% !important;
    margin-bottom: 17px !important;
    margin-top: -6px !important;
}
.date_calendar {
    width: 150px !important;
}
.minusSignDate {
    color: #fa6986 !important;
    font-size: 20px !important;
    margin-left: 100px !important;
}
.traRei_finishBtn {
    margin-top: 22px !important;
}
.tag {
    margin-top: 12px !important;
}
.confirmModelSubmit {
    margin-top: 40px !important;
    margin-left: 450px !important;
}
.confirmBox {
    border-top: 1px solid #a3a3a3;
    padding-top: 15px !important;
}
.confirmModelWarn {
    margin-top: 12px !important;
    margin-left: 330px !important;
}