th {
    font-weight: bold !important;
}
.importantText {
    font-weight: bold;
    text-decoration: underline;
}
.tableCursor {
    cursor: default !important;
}
.unitSubunitBtn {
    float: right !important;
}
.subunitTag {
    display: block !important;
}
.ust_selectedUnit {
    color: #6F42C1 !important;
}
.ant-menu {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background: #f6f5ff;
}
.budgetLabel {
    width: 33.3% !important;
    text-align: right !important;
    padding-right: 8px !important;
}
.firstBudgetRow {
    width: 33.3% !important;
    margin-bottom: 0 !important;
}
.redMark {
    color: red;
    font-size: 70%;
}
.restBudgetRow {
    display: flex;
    width: 33.3% !important;
    margin: 0 auto;
}
.budgetSelect {
    width: 250px !important;
}
.budgetAmount {
   width: 150px !important;
}
.addBudgetBtn {
    margin-left: 33.3% !important;
}
.uwPolicy {
    padding-right: 15px !important;
    margin-top: 7px !important;
}