th {
    font-weight: bold !important;
}
.importantText {
    font-weight: bold;
    text-decoration: underline;
}
.tableCursor {
    cursor: default !important;
}
.unitSubunitBtn {
    float: right !important;
}
.subunitTag {
    display: block !important;
}
.ust_selectedUnit {
    color: #6F42C1 !important;
}
.ant-menu {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background: #f6f5ff;
}
.fiscalstaffnav {
    width: 110px !important;
}